.inventory {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.inventory-img {
    height: 50%;
    border: 1px lightgray solid;
}

.delete-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-btn {
    border: 0;
    font-size: 40px;
    color: darkorange;
    background-color: white;
}